.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease-in-out .25s;
}

.img:hover {
    opacity: .7;
    transform: scale(80%);
    transition: ease-in-out .4s;
}

.h1 {
font-size: 3rem;
}

.grid {
    display: grid;
    border: none;
    width: 100vw;
    margin: none;
    padding: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(.5fr,600px);
    gap: 1rem;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
